.foto {
    width: 300px;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2) ;
    align-items: center;
    margin: 0 auto;
    display: block;
}
body{
    align-items: center;
    background-color: #772E25;
}
#apresentacao{
    font-size: large;
    align-items: center;
    padding: 8px;
    width: auto;
    background-color:#283D3B ;
    border-radius: 10px;
    box-shadow:  4px 8px rgba(0,0,0,0.2);
}
#hobbies{    
    font-size: large;
    padding: 8px;
    width: auto;
    border-radius: 10px;
    box-shadow:  4px 8px rgba(0,0,0,0.2);

}


.listaHobbies{
    /* background-color: #f0f0f0; */
    margin-bottom: 10px;
    padding: 12px 20px;
    border-radius: 8px;
    font-family:system-ui, 'Helvetica Neue', sans-serif;
    font-size: large;
    color: #333;
    border-radius: 10px;
    padding: 8px;
    box-shadow:  4px 8px rgba(0,0,0,0.2);
    transition: background-color 0.3s;
    

}
/* .container{
    display:flexbox;
    grid-template-columns: 1fr 2fr;
    gap: 20px;


} */